.basement {
    &--cahee {
        width: 100%;
        background-color: #262626;
    }

    &__company {
        color: #b9b9b9;
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        position: relative;
        top: -2px;
    }

    &__logo {
        filter: invert(1);
        transform: scale(0.5, 0.5);
        position: relative;
        left: -33px;
    }

    &__author {
        font-family: 'Raleway';
        font-size: 15px;
        line-height: 25px;
        color: #b9b9b9;
        font-weight: 300;
        position: relative;
        top: -1px;
    }

    &__link {
        color: #ff2b58;
        font-weight: 700;
    }
}

@media screen and (max-width: 575px) {
    .basement {
        &--cahee {
            width: 100%;
            background-color: #262626;
        }

        &__company {
            color: #b9b9b9;
            font-family: 'Raleway';
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            position: relative;
            top: -2px;
        }

        &__logo {
            filter: invert(1);
            transform: scale(0.5, 0.5);
            position: relative;
            left: -15px;
        }

        &__author {
            font-family: 'Raleway';
            font-size: 15px;
            line-height: 25px;
            color: #b9b9b9;
            font-weight: 300;
            position: relative;
            top: -1px;
        }

        &__link {
            color: #ff2b58;
            font-weight: 700;
        }
    }

}